body {
  background-color: #fff;
  margin: 38px;
  font-family: monospace;
  font-size: large;
}

button {
  padding: 3px 8px;
  margin: 0px 0px 0px 8px
}

li {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
}

li.selectedItem {
  background-color: rgb(195, 220, 247);
}

.enabled {
	color: #000;
}

.disabled {
	color: #999;
}

.pointer-mouse {
	cursor: pointer;
}