body {
  background-color: #fff;
  margin: 38px;
  font-family: monospace;
  font-size: large;
}

button {
  padding: 3px 8px;
  margin: 0px 0px 0px 8px
}

li.selectedItem {
  background-color: rgb(195, 220, 247);
}